<h2 mat-dialog-title>로그인</h2>
<mat-dialog-content>
  <div>
    <label for="customerId">아이디</label>
    <input id="customerId" placeholder="ID" [(ngModel)]="customerId">
  </div>
  <div>
    <label for="customerPw">비밀번호</label>
    <input id="customerPw" placeholder="PASSWORD" type="password" [(ngModel)]="customerPw">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>닫기</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="onClickLogin()">로그인</button>
</mat-dialog-actions>
